<div
  style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"
>
  <div
    class="context_menu"
    style="display: block; left: -37.7357px; top: -2.72085px;"
  >
    <div
      class="context_menu_item"
      id="directionsOriginItem"
      style="cursor: pointer; white-space: nowrap;"
    >
      Directions from here
    </div>
    <div
      class="context_menu_item"
      id="directionsDestinationItem"
      style="cursor: pointer; white-space: nowrap;"
    >
      Directions to here
    </div>
    <div
      class="context_menu_item"
      id="directionsViaItem"
      style="cursor: pointer; white-space: nowrap;"
    >
      Via here
    </div>
    <div class="context_menu_separator"></div>
    <div
      class="context_menu_item"
      style="cursor: pointer; white-space: nowrap;"
    >
      Zoom in
    </div>
    <div
      class="context_menu_item"
      style="cursor: pointer; white-space: nowrap;"
    >
      Zoom out
    </div>
    <div class="context_menu_separator"></div>
    <div
      class="context_menu_item"
      style="cursor: pointer; white-space: nowrap;"
    >
      Center map here
    </div>
  </div>
</div>
